@charset "UTF-8";

// Assets
@import "fontello-013/css/fontello.css";
@import "assets/colours";
@import "assets/symbols";
@import "assets/glyphs";
@import "assets/fonts";
@import "assets/mixins";

$scroll-offset: 120px;

// Shadows

$default-box-shadow: none;

// Branding

$border-radii: 0;

// Modal

$modal-panel-body-top-padding: 7px;

// Button cluster

$pat-button-cluster-background-colour-active: $colour-dark-green;

// Form

$form-input-field-padding-top-bottom: 0.2em !default;
$form-input-field-line-height: inherit !default;
$form-input-field-padding-top-bottom: 2px !default;
$form-input-field-padding-left-right: 5px !default;
$form-input-field-padding-top-bottom-disabled: 2px !default;
$form-input-field-padding-left-right-disabled: 5px !default;
$form-field-tail-white: 1em !default;
$colour-form-fields-background: white !default;
$colour-form-fields-background-disabled: #efefef;
$form-fields-border-radius: $border-radii !default;
$colour-placeholder: rgba(0,0,0,0.35);
$colour-form-panel: $colour-grey-1 !default;
$form-input-field-box-shadow: 0 0 0 1px dimgray;
$form-input-field-box-shadow-disabled: 0 0 0 1px #efefef;
$form-input-field-box-shadow-focus: 0 0 1px 1px dimgray;
$form-input-field-outline-focus: 2px dotted black;
$form-input-field-outline-offset: 2px;

// Search

$advanced-search-animation-speed: 0.4s;

// Buttons

$button-cluster-toggle-margin: 6px;

$button-border: none !default;
$button-border-radius: 0;
$canvas-toolbar-button-border-radius: $button-border-radius;
$button-height: 44px !default;
$canvas-toolbar-button-height: 44px;
$pat-button-cluster-button-height: 44px;
$pat-button-cluster-button-line-height: 44px;
$pat-toolbar-button-line-height: 44px;
$button-background-image: none !default;
$button-font-weight: normal !default;

$button-background-colour-default: $colour-dark-blue;
$button-background-colour-default-hover: $colour-dark-blue-d;
$button-text-colour-default: white;
$button-text-colour-default-hover: white;

$button-background-colour: #f2f2f2;
$button-background-colour-hover: #ededed;
$button-text-colour: #01689a;
$button-text-colour-hover: #01689a;
$button-background-image: none;

$button-text-colour-subdued: $button-text-colour;
$button-text-colour-subdued-hover: $button-text-colour-hover;
$button-background-colour-subdued: $button-background-colour;
$button-background-colour-subdued-hover: $button-background-colour-hover;

$button-small-height: 29px;
$button-small-line-height: 29px;
$button-small-font-size: 18px;
$button-small-font-weight: normal;

// Tooltip

// $tooltip-background-colour: #E5F0F9;

// Toolbar

$pat-toolbar-icon-background-colour: $button-background-colour;
$pat-toolbar-icon-background-colour-hover: $button-background-colour-hover;
$pat-toolbar-icon-text-colour: $colour-link;
$pat-toolbar-icon-text-colour-hover: $colour-link;
$pat-toolbar-element-separation: 15px;
$pat-toolbar-bump-distance: 100px !default;
// $pat-toolbar-bump-distance-scroll-down: 40px !default;
$pat-toolbar-top-distance: -1px !default;
$pat-toolbar-top-distance-scroll-down: -55px !default;
$pat-toolbar-hiding-speed: 0.4s;

// Grid

$break-small: 769px;
$break-medium: 1024px;
$break-large: 1280px;

$grid-gutter: 15px;
$baseline: $baseline;

$container-padding: 15px;
$container-padding-medium: 15px;

$table-cell-padding-top: 10px;
$table-cell-padding-right: 15px;
$table-cell-padding-bottom: 10px;
$table-cell-padding-left: 15px;
$table-cell-padding: $table-cell-padding-top $table-cell-padding-right $table-cell-padding-bottom $table-cell-padding-left;
$table-line-height: 1.5 !default;

// Font treatment

$body-font-family: 'RO Sans';
$base-font-size: 20px;
$base-line-height: 1.625;

// Form

$form-proportion-ceiling: 260%;
$form-proportion-name: 30%;
$form-proportion-value: 80%;
$form-proportion-value-small: 100%;
$form-proportion-value-form-panel: calc(100% - 50px);
$form-field-tail-white: 26px;

// Collapsibles

$colour-collapsible-lines: rgb(223, 223, 223);
$collapsible-indent: 2.8rem;

// Gallery

$pswp__show-hide-transition-duration: 333ms;
$pswp__controls-transition-duration: 333ms;
$pswp__background-color: black;
$pswp__placeholder-color: #222;
$pswp__box-sizing-border-box: true; // disable .pswp * { box-sizing:border-box } (in case you already have it in your site css)
$pswp__root-z-index: 1500;
$pswp__assets-path: 'photoswipe/'; // path to skin assets folder (preloader, PNG and SVG sprite)
$pswp__error-text-color: #CCC; // "Image not loaded" text color
$pswp__include-minimal-style: true;

// Libraries

@import "libraries/reset";
@import "libraries/animate";
@import "libraries/patterns/patterns";

// Components

@import "components/body";
@import "components/bar-graph";
@import "components/bar-toggles";
@import "components/bar-buttons";
@import "components/button";
@import "components/button-bar";
@import "components/browse-bar";
@import "components/canvas-toolbar";
@import "components/classification-tag";
@import "components/cms-page-module";
@import "components/comments";
@import "components/collapsible";
@import "components/container";
@import "components/content";
@import "components/context-menu";
@import "components/cookie-warning";
@import "components/checklist";
@import "components/dashboard";
@import "components/editorial-list";
@import "components/file-download";
@import "components/footer";
@import "components/form";
@import "components/global-nav";
@import "components/glossary";
@import "components/grid-list";
@import "components/hero";
@import "components/html";
@import "components/icon";
@import "components/icon-tile-navigation";
@import "components/image-selector";
@import "components/image-uploader";
@import "components/infinite-scrolling-trigger";
@import "components/iconed-list";
@import "components/info-button";
@import "components/input-list";
@import "components/language-switch";
@import "components/link-list";
@import "components/logo-cloud";
@import "components/message-box";
@import "components/menu-list";
@import "components/main-container";
@import "components/main-content";
@import "components/message";
@import "components/nav-tiles";
@import "components/news-feed";
@import "components/object-history";
@import "components/page-module";
@import "components/photo-tiles";
@import "components/picture";
@import "components/portlet";
@import "components/rating";
@import "components/reference-badge";
@import "components/rich";
@import "components/select";
@import "components/site-header";
@import "components/show-more-snippet";
@import "components/search";
@import "components/search-results";
@import "components/spotlight-sentinel";
@import "components/sub-nav";
@import "components/summary-block";
@import "components/swim-lane";
@import "components/sortable-blocks";
@import "components/sortable-list";
@import "components/table";
@import "components/task-list";
@import "components/title-block";
@import "components/toolbar";
@import "components/tooltip";
@import "components/topic-list";
@import "components/user-info";
@import "components/video-player";
@import "components/well";
