@charset "UTF-8";

@import "assets/colours";
@import "assets/symbols";
@import "assets/glyphs";
@import "assets/fonts";
@import "assets/mixins";

// Grid
$break-small: 769px;
$break-medium: 1024px;
$break-large: 1280px;

$grid-gutter: 15px;
$baseline: $baseline;

$container-padding: 15px;
$container-padding-medium: 15px;

$table-cell-padding-top: 10px;
$table-cell-padding-right: 15px;
$table-cell-padding-bottom: 10px;
$table-cell-padding-left: 15px;
$table-line-height: 1.5 !default;

// Font treatment
$body-font-family: 'RO Sans';
$base-font-size: 112.5%;
$base-line-height: 1.625;

// Form
$form-proportion-ceiling: 260%;
$form-proportion-name: 30%;
$form-proportion-value: 80%;

// Libraries

@import "../reset";
@import "../animate";
@import "../patterns/patterns";

// Components

@import "components/body";
@import "components/comments";
@import "components/container";
@import "components/content";
@import "components/editorial-list";
@import "components/file-download";
@import "components/footer";
@import "components/form";
@import "components/global-nav";
@import "components/language-switch";
@import "components/link-list";
@import "components/logo-cloud";
@import "components/message-box";
@import "components/nav-tiles";
@import "components/news-feed";
@import "components/page-module";
@import "components/rich";
@import "components/site-header";
@import "components/swim-lane";
@import "components/table";
@import "components/video-player";
