@charset "UTF-8";

// Assets
@import "fontello/css/fontello.css";
@import "assets/colours";
@import "assets/symbols";
@import "assets/glyphs";
@import "assets/fonts";
@import "assets/mixins";

$scroll-offset: 120px;

// Shadows

$default-box-shadow: none;

// Branding

$border-radii: 0;

// Search

$advanced-search-animation-speed: 0.4s;

// Buttons

$button-border: none !default;
$button-border-radius: 0;
$canvas-toolbar-button-border-radius: $button-border-radius;
$button-height: 44px !default;
$button-background-image: none !default;
$button-font-weight: normal !default;

$button-background-colour-default: $colour-dark-blue;
$button-background-colour-default-hover: $colour-dark-blue-d;
$button-text-colour-default: white;
$button-text-colour-default-hover: white;

$button-background-colour: #f2f2f2;
$button-background-colour-hover: #c8c8c7;
$button-text-colour: #01689a;
$button-text-colour-hover: #01689a;
$button-background-image: none;


// Grid

$break-small: 769px;
$break-medium: 1024px;
$break-large: 1280px;

$grid-gutter: 15px;
$baseline: $baseline;

$container-padding: 15px;
$container-padding-medium: 15px;

$table-cell-padding-top: 10px;
$table-cell-padding-right: 15px;
$table-cell-padding-bottom: 10px;
$table-cell-padding-left: 15px;
$table-cell-padding: $table-cell-padding-top $table-cell-padding-right $table-cell-padding-bottom $table-cell-padding-left;
$table-line-height: 1.5 !default;

// Font treatment

$body-font-family: 'RO Sans';
$base-font-size: 112.5%;
$base-line-height: 1.625;

// Form

$form-proportion-ceiling: 260%;
$form-proportion-name: 30%;
$form-proportion-value: 80%;
$form-proportion-value-small: 100%;
$form-proportion-value-form-panel: calc(100% - 50px);
$form-field-tail-white: 26px;

// Collapsibles

$colour-collapsible-lines: rgb(223, 223, 223);
$collapsible-indent: 2.8rem;

// Gallery

$pswp__show-hide-transition-duration: 333ms;
$pswp__controls-transition-duration: 333ms;
$pswp__background-color: black;
$pswp__placeholder-color: #222;
$pswp__box-sizing-border-box: true; // disable .pswp * { box-sizing:border-box } (in case you already have it in your site css)
$pswp__root-z-index: 1500;
$pswp__assets-path: 'photoswipe/'; // path to skin assets folder (preloader, PNG and SVG sprite)
$pswp__error-text-color: #CCC; // "Image not loaded" text color
$pswp__include-minimal-style: true;

// Libraries

@import "libraries/reset";
@import "libraries/animate";
@import "libraries/patterns/patterns";

// Components

@import "components/body";
@import "components/bar-toggles";
@import "components/button";
@import "components/browse-bar";
@import "components/canvas-toolbar";
@import "components/classification-tag";
@import "components/comments";
@import "components/collapsible";
@import "components/container";
@import "components/content";
@import "components/context-menu";
@import "components/cookie-warning";
@import "components/editorial-list";
@import "components/file-download";
@import "components/footer";
@import "components/form";
@import "components/global-nav";
@import "components/grid-list";
@import "components/icon";
@import "components/image-uploader";
@import "components/language-switch";
@import "components/link-list";
@import "components/logo-cloud";
@import "components/message-box";
@import "components/menu-list";
@import "components/main-container";
@import "components/main-content";
@import "components/message";
@import "components/nav-tiles";
@import "components/news-feed";
@import "components/page-module";
@import "components/reference-badge";
@import "components/rich";
@import "components/select";
@import "components/site-header";
@import "components/show-more-snippet";
@import "components/swim-lane";
@import "components/table";
@import "components/tooltip";
@import "components/topic-list";
@import "components/user-info";
@import "components/video-player";
@import "components/well";
