@charset "UTF-8";


.pat-button,
#document-alert-bar .context-menu,
.status-inactive .content-mirror .placeholder {
	display: inline-block;
	margin: 0 20px 0 0;
	padding: .4em 10px;
	border: 0;
	background: $colour-dark-blue;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 1em;
	cursor: default;
	font-weight: normal;
	line-height: 30px;

	&.link {


		&:hover {
			background-color: transparent;
			text-decoration: underline !important;
			color: $colour-dark-blue;
		}
	}

	&:hover {
		background: $colour-dark-blue-d;
	}

	&.warning {
		background: $colour-orange;

		&:hover {
			background: $colour-orange-d;
		}
	}

	&:before {
		margin-left: -0.2em;
	}
}