@charset "UTF-8";

.form-panel {
	.button-bar:last-child {
		.pat-button {
			margin-bottom: 0;
		}
	}
}

.pat-button:not(.default) {
	.form-panel &,
	.pat-well & {
		box-shadow: 0 0 0 1px $colour-link;
	}
}

.pat-button,
#document-alert-bar .context-menu,
.status-inactive .content-mirror .placeholder {
	display: inline-block;
	margin: 0 20px 0 0;

	&.float-after {
		margin-right: 0;
		margin-left: 20px;
	}

	@keyframes make-ok {
	  	0% {
	    	content: '#{$glyph-docs}';
	    	transform: scale(1.0);
	  	}
	  	
	  	50% {
	    	transform: scale(1.5);
	    	content: '#{$glyph-docs}';
	  	}

	  	100% {
	    	content: '#{$glyph-ok}';
	    	transform: scale(1.0);
	    	color: green;
	  	}
	}

	&.validate {
		&:active {
			&:before {
				animation: make-ok 0.5s;
     			-webkit-animation-fill-mode: forwards;
     			animation-fill-mode: forwards;
			}
		}
	}
	
	// padding: .4em 10px;
	// border: 0;
	// background: $colour-dark-blue;
	// border: none;
	// border-radius: 0;
	// color: #fff;
	// font-size: 1em;
	// cursor: default;
	// font-weight: normal;
	// line-height: 30px;

	&.link {
    	padding: 0;
	    display: inline;
	    background: none;
	    color: $colour-link;
	    line-height: inherit;
	    text-decoration: underline;

		&:hover {
			// background: $colour-dark-blue-d;
			text-decoration: underline;
		}
	}

	&:hover {
		// background: $colour-dark-blue-d;
		text-decoration: none;
	}

	&.warning {
		background: $colour-orange;

		&:hover {
			background: $colour-orange-d;
		}
	}

	&:before {
		margin-left: 0;
	}
}