.pat-checklist {
	label {
		.label-fragment-title {
			font-weight: bold;
		}

		.label-fragment-description {
			opacity: 0.8;
			display: block;
			font-size: 0.9em;
			padding-bottom: 0.5em;
		}
	}
}