@charset "UTF-8";

// section.downloads {
// 	.file-download {
// 		float: left;
// 		width: 50%;
// 		@include box-sizing;
// 	}
// }

.file-download {
    @include pat-well;
    padding: 1rem;
    background-color: #{$colour-grey-1};
    margin-bottom: 0.5rem;

   .meta {
		margin-top: 5px;
		@include meta-bar;
   }
}