@charset "UTF-8";



.pat-form {	

	&.two-factor-authentication {
		.form-panel {
			padding-left: 0;

			.pat-verification-code {
				margin: 70px auto 10px;
			}

			.button-bar,
			.pat-checklist {
				width: 352px;
				padding: 0;
				margin: 0 auto;
			}

			.pat-checklist {
				margin-bottom: 50px;
			}
		}
	}

	counter-reset: form-panel;  

	&#search-form {
		padding-top: 80px;
		margin-top: -80px;
	}

	.e-form-text .meta {
		text-align: right;
		font-size: .8125em;
		line-height: 1.5;
		color: #666;
	}

	h2 {
		// color: #01689b;
		font-size: 1.536em;
		font-weight: normal;
		line-height: 1.1429;

		&.req {
			margin: .67em 0 0 0;
		}
	}

	label.slider {


		&.type-euro {
			padding-bottom: 1.5em;

			&:after {
				content: attr(data-value);
			}

			input {
				position: absolute;
			}
		}
	}

	.has-changes {
		position: absolute;
		left: -20px;
		top: -13px;
		bottom: -12px;
		right:0;
		background: rgba(255,100,0,0.1);
		border-left: 8px solid rgba(255,100,0,0.2);
		z-index: 0;
		color: transparent;		
		display: block;
		animation: fadeIn 1s;
		grid-area: label !important;
      	grid-row: 1 / last;

	}

	input,
	textarea,
	.textarea.group,
	select,
	.select2-container .select2-choice,
	.select2-container .select2-choices,
	.md-editor .md-render,
	.pat-rich-editor,
	.output-field {
		// background-color: white;
		// padding: 2px 5px;
		// margin-top: -3px;
		// margin-bottom: -3px;
		font-family: $body-font-family;

		&[size="4"] {
			width: 6em;
		}

		&:invalid {
			border-color: $colour-orange;
		}

		&:required:valid {
			transition-delay: 0s;
			border-color: $colour-dark-blue;
		}
	}

	.form-callout {
		margin: 0 -20px 20px;
		padding: 20px;
		outline: 1px solid silver;

		.functions {
			padding-right: 5px;

			text-align: right;

			.icon {
				display: inline-block;
				width: 30px;
				line-height: 30px;
				height: 30px;
				margin: 0 0 0 10px;
				overflow: hidden;
				color: transparent;

				&:before {
					display: block;
					color: $colour-dark-blue;
					line-height: 30px;
					width: 30px;
					text-align: center;
				}

				&:hover {
					&:before {
						color: black;
					}
				}
			}
		}
	}

	fieldset.form-panel,
	div.form-panel {
		padding: $baseline 0 0 20px;
		background: $colour-grey-1;
		@include box-sizing;

		.form-separation-header {
			margin-top: 0;

			&:before {
				display: inline-block;
				margin-right: 8px;
				font-family: fontello;
			}
		}

		// > h3 {
		// 	counter-increment: form-panel;

		// 	&:before {
		// 		content: counter(form-panel) '. ';
		// 	}
		// }

		&#settings-panel-language {
			.form-separation-header {
				&:before {
					content: '#{$glyph-language}';	
				}
			}
		}

		&#settings-panel-homepage {
			.form-separation-header {
				&:before {
					content: '#{$glyph-home}';	
				}
			}
		}

		&#settings-panel-content-updates {
			.horizontal {
				display: grid;

				@include screen-size(medium-large) {
					grid-template-columns: 1fr 1fr 1fr;
					gap: 15px;

					.pat-well {
						display: grid;
						grid-template-columns: 100%;
						align-content: space-between;
						grid-template-rows: min-content 1fr min-content;
						overflow: hidden;

						.well-separation-header {
							margin-bottom: 10px;
							font-size: 22px;
							align-self: start;
						}

						.description {
							align-self: stretch;
						}

						.button-bar {
							align-self: end;
						}

						.pat-message {
							animation: bounceInUp 0.8s;
						}
					}
				}
			}

			.form-separation-header {
				&:before {
					content: '#{$glyph-update}';	
				}
			}
		}

		&#settings-panel-footer {
			.form-separation-header {
				&:before {
					content: '#{$glyph-footer}';	
				}
			}
		}

		div.pat-modal & {
			padding: 0;
			background-color: transparent;
		}

		.page-type-login & {
			margin-bottom: 35px;
		}

		@include clear-fix;

		> .button-bar {
			width: 100%; // Prevents buttonbar from collapsing after inject in Chrome, FF and Safari iOS (12.x).
			margin: 0;

			.pat-button {
				float: left;
			}

			.filter-toggle {
				background: transparent;
				text-decoration: underline !important;
				color: $colour-dark-blue;
				padding: .4em 0;
				cursor: pointer;
				vertical-align: text-bottom;
				line-height: 1.6;
				// display: inline-block; // Float below
				float: left;
				font-size: 1em;

				&:active {
					box-shadow: none;
				}
			}
		}
	}

	fieldset.horizontal {

		.help {
			padding: 0;
			margin-top: 1px;
			margin-bottom: -3px;
			clear: both;;

			.help-content {
				padding: 20px 0;
				display: block;
				line-height: 1.3;
			}

			.help-label,
			.help-label.collapsible-open.collapsible-in-progress {
				position: absolute ;
				top: -33px;
				right: -25%;
				z-index: 2;
				width: 26px;
				height: 35px;
				overflow: hidden;
				background-color: $colour-dark-blue;
				color: transparent;
				padding: 0;
				content: '#{$glyph-vraagteken}';
				font-family: fontello;
				transition: translate 0.25s;
				transform: translateY(0%);

				&:hover {
					color: transparent;
				}

				&.collapsible-open.collapsible-in-progress {
					transform: translateY(0%);
				}

				&.collapsible-open,
				&.collapsible-closed.collapsible-in-progress {
					transform: translateY(100%);

					&:before {
						opacity: 0;
					}

					&:after {
						opacity: 1;
					}
				}

				&:before {
					content: '#{$glyph-vraagteken}';
					background-color: transparent;
					transform: none;
					margin: 0;
					font-family: fontello;
					color: white;
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
					height: 100%;
					line-height: 35px;
					text-align: center;
					font-weight: normal;
					font-style: normal;
					font-size: 0.8em;
					transition: opacity 0.8s;
					transition-delay: 0.3s;
				}

				&:after {
					content: '#{$glyph-close}';
					font-size: 0.8em;
					font-family: fontello;
					color: white;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					font-weight: normal;
					font-style: normal;
					line-height: 35px;
					text-align: center;
					background: $colour-dark-blue;
					z-index: 1;
					opacity: 0;
					transition: opacity 0.8s;
					transition-delay: 0.3s;
				}
			}
		}
		
		.pat-collapsible > .panel-content {
			padding: 0.5 0 1.5em 0;
			@include box-sizing;
		}

		> label {
			// position: relative;
			clear: both;
			z-index: 1;
		} 

		fieldset.group,
        div.group,
        .help,
        .instruction {
        	position: relative; // For positioning of 'has changes'.
        }

	}
}