@charset "UTF-8";

$scroll-offset: 120px !default;
$bullet-space: 22px !default;

.link-list {
	line-height: 1.625rem;
	margin-bottom: 1em;

	&:empty,
	&:blank,
	&:-moz-only-whitespace,
	&:-webkit-only-whitespace,
	&:only-whitespace {
		display: none;
	}

	@include screen-size(large) {
		&.col-2 {
			column-count: 2;
			overflow: hidden;
		}

		&.col-3 {
			column-count: 3;
			overflow: hidden;
		}

		&.col-4 {
			column-count: 4;
			overflow: hidden;
		}
	}

	@include screen-size(medium) {
		&.col-2 {
			column-count: 2;
			overflow: hidden;
		}

		&.col-3 {
			column-count: 3;
			overflow: hidden;

			.portlet.span-2 & {
				column-count: 2;
			}
		}

		&.col-4 {
			column-count: 3;
			overflow: hidden;
		}
	}

	.aside-block & {
		@include screen-size(medium-large) {
			font-size: 0.8em;
		}

		margin-bottom: 1em;
		margin-left: 25px;
	}

	&.compact {
		li {
			margin: 0;
			padding-bottom: 0.4em;

			ul {
				padding: 0 0 5px 0;
			}
		}
	}

	&.expanded {
		li {
			padding-bottom: 0.4em;
		}
	}

	.page-module-group-title + & {
		margin-top: 20px;
	}

	&.no-spread {
		li {
		    overflow: hidden; // Required to force Mozilla to avoid breaking inside the element, also when the amount of items does not exceed the amount of columns. 
		}
	}
	
	li {
		margin: 0;
		border-bottom: 0.3em solid transparent; // Faux bottom margin.
		padding: 0 0 0 $bullet-space;
		list-style: none;
		display: grid;
		grid-template-areas: 
			"label functions"
			"children children";

		.functions {
			grid-area: functions;
			text-align: right;

			.button {
				@include pat-button;
				font-size: $button-small-font-size;
			     padding: $button-small-paddings;
			     height: $button-small-height;
			     line-height: $button-small-line-height;
			     vertical-align: baseline;
			     font-weight:  $button-small-font-weight;

			     .form-panel & {
			     	box-shadow: 0 0 0 1px $colour-link;
			     }

			     margin: -2px 0 -4px 5px;

			     input {
			     	position: absolute;
			     	opacity: 0;
			     }

				// &:before {
				// 	font-family: fontello;
				// 	content: "#{$glyph-trash}";
				// }
			}
		}

		&.deleted {
			display: none;
		}

		.pat-rich & {
			list-style: none;
		}

		#sub-nav & {
			padding-left: 30px;
		}

		&.type-reference {
			padding: $scroll-offset 0.5em 0 $bullet-space;
			margin: -1 * $scroll-offset 0 0 0 ; 
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			pointer-events: none;
		}

		> * {
			-moz-pointer-events: auto;
			-webkit-pointer-events: auto;
			pointer-events: auto;	
		}

		&.state-draft,
		&.state-new {
			a[href] {
				color: $colour-orange;

				&:hover {
					color: darken($colour-orange,10%);
				}
			}
		}

		&.processed {
			a {
				text-decoration: line-through;
			}
		}

		&.warning {
			a {
				&:not([class*="icon-"])::before {
					font-family: fontello;
					content: '#{$glyph-icon-attention}';
					color: $colour-orange;;
					// line-height: 1.5;
					font-size: 0.7em;

				}
			}
		}

		&.type-reference {
			a:before {
				display: none !important;
			}

			.reference-badge {
				float: left;
				margin-left: -1 * $bullet-space;
				font-size: 0.7em;
				margin-top: 4px;
				position: relative;

				&:before {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					display: block;
					background: $colour-dark-blue;
					color: white;
					font-family: fontello;
					content: '#{$glyph-up-open}';
					display: none;
					width: 100%;
					text-align: center;
					margin: 0;
					border-radius: 0.8em;
				}

				&:hover {
					&:before {
						display: block !important;
					}
				}
			}
		}

		-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
		> a,
		.group-title {
			display: block;
			padding: 0 !important; // !important to reverse the effect of external links left padding in a pat-rich context. 
			font-weight: normal;
			margin-left: 0;
			position: relative; // Fix for missing icons of first item in second column and on in Firefox.
			grid-area: label;
			font-size: 1em;
			line-height: 28px;

			.link-title {
				font-weight: normal;
				font-size: inherit;
				font-size: inherit;
				line-height: inherit;
			}

			.link-byline {
				font-size: 0.8888888889rem;
				line-height: 1.6875;
				font-weight: normal;
				color: #535353;
				margin: 0;
				text-decoration: none !important;
			}

			.-ms- & {
				text-decoration: none;
			}

			&:before {
				grid-area: label;
				font-family: fontello;
				margin-left: -1 * $bullet-space;
				font-weight: normal;
				float: left;
				text-decoration: none;
				width: $bullet-space;
				text-align: left;
				speak: none;
				display: inline-block;
				line-height: inherit;
				position: absolute; // Fix for missing icons of first item in second column and on in Firefox.

				#sub-nav & {
					margin-left: -30px;
				}
			
			}

			&:not([class*="icon-"]) {
				&:before {
					content: '#{$glyph-angle-right}';
				}
			}

			&.type-link-external {
				&:before {
					content: '#{$glyph-link-external}';
					font-size: .595rem;
					// line-height: 1.45;
				}
			}

			&.type-link-internal {
				&:before {
					content: '#{$glyph-link-internal}';
				}
			}

			&.type-tag {
				&:before {
					content: '#{$glyph-tag}';
					font-size: .9em;
				}
			}

			&.medicine,
			&.type-medicine {
				&:before {
					content: '#{$glyph-icon-medicine}';
				}
			}

			&.medicine-group,
			&.type-medicine-group {
				&:before {
					content: '#{$glyph-icon-medicine-group}';
				}
			}

			&.indication,
			&.super-indication,
			&.type-indication,
			&.type-super-indication {
				&:before {
					content: '#{$glyph-icon-indication}';
				}
			}

			&.type-is {
				&:before {
					content: '#{$glyph-information-standard}';
					font-size: 0.8em;
				}
			}

			&.type-rs {
				&:before {
					content: '#{$glyph-database-on-square}';
					font-size: 0.8em;
				}
			}

			&.type-qs {
				&:before {
					content: '#{$glyph-award}';
				}
			}

			&.type-mi {
				&:before {
					content: '#{$glyph-gauge}';
					margin-top: 0.15em;
					font-size: 0.8em;
				}
			}
		}

		&.medicine {
			a:before {
				content: '#{$glyph-icon-medicine}';
			}
		}

		.group-title {
			color: black;
		} 

		a {
			color: black;
		}

		a[href] {
			color: $colour-link;

			&:hover {
				text-decoration: underline;
				color: $colour-dark-blue-d;

				.link-byline {
					text-decoration: none !important;
				}
			}
		}

		ul {
			font-size: 0.8em;
			// margin: 0;
			margin: 0.5em 0 0; // Some space above and below sub lists.
			line-height: 1.2;
			grid-area: children;

			li {
				margin: 0;
				padding: 0;
				border-bottom: none;
				left: 0;

				a {
					padding: 0 0 0 17px !important;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					transform: translateZ(0);

					.classification-tags {
						position: absolute;
						right: 0;
						top: 0;
						background: white;
						box-shadow: 0 0 10px 10px white;

						.portlet & {
							background: $colour-portlet;
							box-shadow: 0 0 10px 10px $colour-portlet;
						}

						.editors-well &,
						#portlet-drafts & {
							background: $colour-orange-xl;
							box-shadow: 0 0 10px 10px $colour-orange-xl;
						}

						// #portlet-drafts & {
						// 	background: $colour-base-light;
						// 	box-shadow: 0 0 10px 10px $colour-base-light;
						// }

					}

					&:before {
						margin-left: -17px;
						margin-top: 0;
						font-weight: normal;
						float: left;
						content: '#{$glyph-angle-right}';
						font-family: fontello;
						line-height: inherit;
					}
				}
			}
		}

		&:before {
			display: none;
		}
	}
}