$main-content-width: 768px !default;

#main-content:not(.content-group) {
	// float: left;
	// width: 66.66667%;
	max-width: $main-content-width;
	// margin-left: 16.66667%;
	margin: 0 auto;
	counter-reset: tab fig;  

	.variation-landing-toc ~ #main & {
		&:has(.link-list li:nth-child(12)) {
			margin: 0;
			padding: 0;
			max-width: 100%;

			.link-list {
				@include screen-size(large) {
					column-count: 4;
				}

				@include screen-size(medium) {
					column-count: 3;
				}

				@include screen-size(small) {
					column-count: 1;
				}
			}
		}
	}

	.variation-landing-tiles ~ #main & {

		.tile-navigation.col-3 {
			@include screen-size(large) {
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 20px;
			}

			@include screen-size(medium) {
				grid-template-columns: 1fr;
			}
		}

		&:has(.tile-navigation .tile-navigation-follow:nth-child(5)) {
			margin: 0;
			padding: 0;
			max-width: 100%;

			.tile-navigation {
				&.col-3 {
					@include screen-size(large) {
						grid-template-columns: repeat(3, 1fr);
						grid-gap: 20px;
					}

					@include screen-size(medium) {
						grid-template-columns: 1fr 1fr;
					}
				}
			}
		}
	}

	&.cms-edit-form {
		.metadata {
			// margin-bottom: 50px;
		}

		.body-text {
			.ProseMirror {
				min-height: 0;
				margin: -15px;
				padding: 15px 15px 100px 15px; // Allows for easer cursor placing after an image or table.
			}
		}
	}

	&:before {
		background: black;
		opacity: 0.5;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		content: ' ';
		display: block;
		opacity: 0;
		// transition: opacity 0.5s;
		pointer-events: none;

		.spotlight-on & {
			opacity: 0.5;
		}
	}

	&:after {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
		content: ' ';
		display: none;

		.spotlight-on & {
			display: block;
		}
	}

	@include screen-size(medium-large) {
		// padding-left: 15px;
		// padding-right: 15px;

		.variation-medicine-compare-versions ~ #main & {
			margin: 0;
			padding: 0;
		}
	}	

	.variation-overview ~ #main &,
	.variation-landing ~ #main &,
	.variation-themes ~ #main &,
	.variation-landing-indicator-sets ~ #main &,
	.variation-landing-topics ~ #main & {
		margin-left: 0;
		padding: 0;
	}

	&.page-type-landing,
	&.page-type-landing-topics,
	&.page-type-overview,
	&.page-type-themes {
		margin-left: 0;
		padding: 0;
	}

	@include box-sizing;

	@include screen-size(small) {
		width: 100%;
		margin: 0;
	}
}