@charset "UTF-8";

#main {
	background: white;
	transition: all 0.5s;
	padding-top: 70px; // Benefit for pat-scroll.
	margin-top: -70px; // Benefit for pat-scroll.

	.page-type-homepage & {
		&.injecting {
			* {
				opacity: 1;
			}

			&:before {
				display: none;
			}

			.search-button-main,
			.search-field button {
				transition: none;
				text-indent: -1000px;

				&:before {
					@include throbber;
					text-indent: 0;
					font-size: 1.3em !important;
				}
			}
		}
	}
}

.variation-medicine-compare-versions ~ #main {
	padding-top: 125px;
	margin-top: -125px;

	#content {
		padding-top: 0;
	}
}

.variation-compare ~ #main,
.variation-medicine-compare ~ #main,
.variation-indication-compare ~ #main,
.variation-medicine-group-compare ~ #main {
	position: relative;
	z-index: 11;
	min-width: 100%;
	// border-top: solid 2px $colour-moss-green;
	// float: left; // Commented out in order to prevent #main to bleed out of <body> which causes trouble to the sticky global nav bar.
	// padding-top: 0;
	// margin-top: 65px;

	.no-csspositionsticky & {
		margin-top: -5px;
	}

	@keyframes intro-shake {
		0%, 15%, 50% {
			left: 50%;
		}

		20%,30%, 40% {
			left: 45%;
		}

		25%,35%, 45% {
			left: 55%;
		}

		5%, 80% {
			opacity: 1;
		}

		0%, 100% {
			opacity: 0;
		}
	}

	@include screen-size(small) {
		margin-top: 138px;

		&:before {
			position: fixed;
			display: block;
			text-align: center;
			left: 50%;
			top: 50%;
			width: 80%;
			transform: translate(-50%,-50%);
			content: "Schuif de pagina van rechts naar links om te vergelijken";
			padding: 2rem 1rem 2rem 1rem;
			z-index: 100;
			font-size: 1.3em;
			line-height: 1.3;
			color: black;
			background-color: white;		
			font-weight: bold;
			opacity: 0;
			animation: intro-shake 5s;
			animation-direction: forwards;
			animation-delay: 2s;
			pointer-events: none;
			box-shadow: 0 0 20px rgba(0,0,0,0.5);
		}
	}

	@media all and (display-mode: standalone) {
		margin-top: 0;
		border-top: none;
	}
}