@mixin message-warning-thingy() {
	position: absolute;
	top: 0;
	left: $table-cell-padding-left;
	width: 22px;
	height: 22px;
	color: white;
	content: '!';
	font-weight: bold;
	line-height: 22px;
	text-align: center;
	display: block;
}

.pat-message {
	padding: $table-cell-padding;

	&.error,
	&.warning {
		padding-top: 30px;
		position: relative;

		&:before {
			@include message-warning-thingy;
		}	
	}

	&.error,
	&.error .panel-content {
		&:before {
			background-color: $colour-ruby;
		}
	}

	&.warning,
	&.warning .panel-content {	
		&:before {
			background-color: $colour-orange;
			color: $colour-orange-xl;
		}
	}

    &.error {
		background-color: #f7d2dd;
		color: black;
		position: relative;
	}

	&.pat-collapsible {
		padding: 0;

		&.closed {
			margin: 0 !important;
		}

		&:before {
			display: none;
		}

		.panel-content {
			padding: $table-cell-padding;
		}

		&.error,
		&.warning {
			.panel-content {
				padding-top: 30px;

				&:before {
					@include message-warning-thingy;
				}
			}
		}
	}
}