@charset "UTF-8";

.message-box {
  position: relative;
  transition: all 1s;

  table & {
    margin-bottom: 0;
    line-height: $table-line-height;
  }

  .content-mirror {
    content: attr(data-value);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    padding-bottom: 26px;
    padding-right: 10px;
    color: black;
    font-family: inherit;
    cursor: default;
    text-align: start;
    white-space: pre-wrap;
    vertical-align: text-bottom;
    overflow: visible;
    width: 100%;
    box-sizing: border-box;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .group & {
    width: 80%;
  }

  .placeholder {
    color: $colour-link;
    -webkit-text-fill-color: $colour-link;
    text-fill-color: $colour-link;
    text-decoration: underline;
    font-weight: normal;
    // position: absolute;
    // left: 0;
    // top: 0;
    // z-index: 1;
  }

  &.status-active {
    background-color: #efefef;

    .placeholder {
      display: none;
    }

    table & {
      background-color: white;
    }

    .form-panel & {
      background-color: white;
    }

    .button-bar {
      // height: 2.3em;

      height: 1.8em;
      padding-top: 2em;
      padding-bottom: 0.5em;
    }
  }

  @media print {
    display: none;
  }

  textarea {
    &:focus {
      border: transparent 1px solid;
    }
  }

  textarea,
  .content-mirror {
      margin: 0;
      padding-right: 2em;
      padding-left: 0.5em;
      padding-top: 0.4em;
      padding-bottom: 0;
      line-height: $base-line-height;
      font-size: 18px;
      font-family: $body-font-family;

      table & {
        // padding: 0;
        line-height: $table-line-height;
      }

      float: left;
      // height: 2.3em;
      border: none;
      overflow: hidden;
      background: transparent; // Was previous only declared for large screen, but necessary for all sizes.
      
      resize: none;
      width: 100%;

      &:focus {
        outline: none;
        box-shadow: none;
      }
  }

  textarea {
    padding-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%; // Needed for Firefox
    box-shadow: none;
    border: 1px solid dimgray;
    // opacity: 0; // Added to compensate for a bug in Chrome
  }

  &.status-inactive {
    textarea {
      cursor: default;
      opacity: 0;
      cursor: pointer;

      .pat-grid-list dd & {
        cursor: pointer;
      }
    }

    &:before {
      display: none;
    }

    &:hover {
      .text {
        .placeholder {
          // background: $colour-dark-blue-d;
        }
      }
    }
  }

  &.status-active textarea
  &.status-active .content-mirror {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  &.status-active {

    textarea {
      bottom: 2.6em;
    }

  }

  .button-bar {
    background-color: blacken($colour-base, 10);
    height: 0;
    padding: 0 0.5em;
    overflow: hidden;
    margin: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 2;
    position: relative;

    .pat-button {
      margin-right: 8px;
      line-height: 19px;
      float: left;
      padding: .4em 10px;
    }

    br {
      display: none
    }
  }
}