$nav-tiles-font-size: 1.60181rem !default;

.nav-tiles {
  display: grid;
  gap: 30px;
  margin-bottom: 1rem;

  @include screen-size(large) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  @include screen-size(medium) {
    grid-template-columns: 1fr 1fr;
  }

  @include screen-size(small) {
    grid-template-columns: 1fr;
    margin: 0;
  }

  &.count-1 {
    grid-template-columns: 100%;
  }

  &.count-2,
  &.count-4 {
    @include screen-size(large) {
        grid-template-columns: 1fr 1fr;
      }
  }

  .item {

    a {
      padding-left: 40px;
      padding-bottom: 1rem;
      display: block;
      position: relative;
      height: 100%;
      text-decoration: none;
      @include box-sizing;

      &:hover {
        .no-touchevents & {
          .item-title {
            text-decoration: underline;
          }
        }
      }

      &:before {
        position: absolute;
        left: 0;
        top: 2px;
        width: 25px;
        height: 100%;
        font-size: 25px;
        color: $colour-green;
        font-family: fontello;
        line-height: 1em;
        text-align: center;

        @include screen-size(small) {
          // display: none;
          left: $container-padding-medium;
          top: 23px;
          height: auto;
          margin: 0;
        }
      }

      &:not([class*="icon-"]) {
        &:before {
          content: '#{$glyph-right-open}';
          font-size: 18px;
          line-height: 28px;
          text-indent: 12px;
        }
      }

      @include screen-size(small) {
        padding: 20px 40px 20px 49px;

        &:after {
          position: absolute;
          top: 50%;
          height: auto;
          transform: translateY(-50%);
          right: 20px;
          font-family: fontello;
          content: '#{$glyph-angle-right}';
          font-size: 25px;
        }
      }

      .item-title {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        // white-space: nowrap;
        color: $colour-link;
        font-weight: normal;

        @include screen-size(medium-large) {
          font-size: $nav-tiles-font-size;
          line-height: 1.24859;
          margin: 0rem 0rem 0 0rem;
        }

        @include screen-size(small) {
          font-size: 1.3125em;
          line-height: 1.2381;
        }
      }

      .byline {
        font-size: 1.125rem;
        line-height: 1.33333;
        color: black;

        @include screen-size(medium-large) {
          margin-top: 0.5rem;
        }

        @include screen-size(small) {
          padding-top: 2px;
          font-size: 16px;
        }
      }
    }
  }
}