.photo-tiles {
	display: grid;
    grid-gap: 30px; 

    @include screen-size(large) {
    	grid-template-columns: 1fr 1fr 1fr;
    }

    @include screen-size(medium) {
    	grid-template-columns: 1fr 1fr;
    }

    @include screen-size(small) {
    	grid-template-columns: 1fr;
    }

	.photo-tiles-follow {

	}

	.photo-tiles-tile {
		img {
			width: 100%;
			aspect-ratio: 21/9;
			object-fit: cover;
			display: block;
			// margin-bottom: 15px;
		}

		picture {
			position: relative;
			display: block;
		}

		.photo-tiles-copyright {
			@include copyright;
		}

		figcaption {
			font-size: 1.5101977836rem;
			line-height: 1.1587886163;
			margin: 0.5rem 0rem 1rem 0rem;
			font-weight: normal;
		}
	}
}