@charset "UTF-8";

.reference-badge {
	height: 1.4em;
	line-height: 1.4em;
	min-width: 1.4em;
	text-align: center;
	box-sizing: border-box;
	padding: 0 0.1em;
	border-radius: 0.8em;
	background: $colour-dark-blue-l;
	color: $colour-link !important;
	display: inline-block;
	font-size: 1em;
	text-decoration: none !important;

	&.active {
		box-shadow: 0 0 1px 1px $colour-dark-blue;
	}
}