@charset "UTF-8";

.reference-badge {
	height: 19px;
	line-height: 19px;
	min-width: 19px;
	text-align: center;
	box-sizing: border-box;
	padding: 0 0.1em;
	border-radius: 0.8em;
	background: $colour-dark-blue-l;
	color: $colour-link !important;
	display: inline-block;
	font-size: 18px;
	text-decoration: none !important;

	&:before {
		line-height: 19px;
	}

	&.active {
		box-shadow: 0 0 1px 1px $colour-dark-blue;
	}
}