@charset "UTF-8";

.sortable-list {
	counter-reset: count;
	-webkit-user-select: none;
	user-select: none;

	.sortable-item {
		// list-style: decimal;
		counter-increment: count;
		padding: 0.2em 0 0.2em 0.6em;
		position: relative;
		border-top: solid 1px transparent;
		border-bottom: solid 1px transparent;
		transition: border 0.2s;
		margin: 4px 0 0 1.6em;
		animation: all 1s linear;
		// overflow: hidden;

		&.dragged {
			opacity: 0.5;
		}

		&.drop-target-above {
			border-top: 38px solid transparent;
		}

		&.drop-target-below {
			border-bottom: 38px solid transparent;
		}

		input,
		.label {
			margin: -0.2em 0 -0.2em -0.5em;
			width: calc(100% - 0.4em);
			box-sizing: inherit;
			padding: 0.2em 0.5em;
			cursor: default;

		    border-top-left-radius: 0px;
		    border-bottom-left-radius: 0px;
		}

		.label {
			background: $colour-dark-blue-xl;
			line-height: 1.3em;
			// color: $colour-accent;
		}

		&:before,
		.sortable-handle {
			content: counter(count);
			line-height: 1.7em;
			text-align: center;
			color: white;
			display: block;
			position: absolute;
			left: -1.6em;
			top: 0;
			width: 1.8em;
			height: 1.6765em;
			background: $colour-accent;
			border-top-left-radius: $border-radii;
			border-bottom-left-radius: $border-radii;
			overflow: hidden;

			@media print {
				background: transparent;
				width: 1em;
				text-align: left;
				color: black;
			}
		}

		.button-cluster {
			display: none;
		}

		.sortable-handle {
			opacity: 0;
			line-height: 1.9em;
			text-indent: -10em;
			background: $colour-accent;
			cursor: grab;

			&:hover {
				background: darken($colour-accent, 10%);
			}
				
			&:active,
			&:focus {
				cursor: grabbing;
			}

			&:before {
				content: "#{$glyph-arrow-combo}";
				display: block;
				font-family: fontello;
				text-indent: 0.1em;
				top: 0;
				left: 0;
				width: 100%;
				line-height: 2.28em;
				text-align: center;
				font-size: 0.8em;
			}
		}

		&:hover {
			.sortable-handle {
				opacity: 1;

				&:hover {
					text-decoration: none;
				}
			}
		}
				
		&:active,
		&:focus {
			.sortable-handle {
				cursor: grabbing;
			}
		}
	}

}
