@charset "UTF-8";

$sortable-form-fields-handle-colour: $colour-accent !default;

.sortable-form-fields {
	counter-reset: count;
	-webkit-user-select: none;
	user-select: none;

    & + .button-bar {
        margin-top: 10px;
    }

	.sortable-item {
		// list-style: decimal;
		counter-increment: count;
		padding: 11px 0;
		position: relative;
		margin: 0 0 0 40px;

		&.dragged {
			opacity: 0.5;
		}

		&:not(.dragged) {
			animation: fadeIn 1s;
		}

		&:after {
			display: block;
			opacity: 0;
			height: 2px;
			content: ' ';
			background: $colour-link;
			position: absolute;
			left: -15px;
			right: 15px;
		}

		&.drop-target-above,
		&.drop-target-below { 
			&:after {
				opacity: 1;
			}

			.sortable-handle {
				margin-top: -24px;
			}
		}

		&.drop-target-above:after {
			top: -1px;
		}

		&.drop-target-below:after {
			bottom: -1px;
		}

		&:before,
		.sortable-handle {
			content: counter(count);
			text-align: center;
            line-height: 36px;
			color: white;
			display: block;
			position: absolute;
			left: -40px;
			top: 5px;
			bottom: 5px;
			width: 32px;
			background: $sortable-form-fields-handle-colour;
			border-top-left-radius: $border-radii;
			border-bottom-left-radius: $border-radii;
			overflow: hidden;

			@media print {
				background: transparent;
				width: 1em;
				text-align: left;
				color: black;
			}
		}

		.sortable-handle {
			opacity: 0;
			text-indent: -10em;
			background: $sortable-form-fields-handle-colour;
			cursor: grab;

			&:hover {
				background: darken($sortable-form-fields-handle-colour, 10%);
			}
				
			&:active,
			&:focus {
				cursor: grabbing;
			}

			&:before {
				content: "#{$glyph-arrow-combo}";
				display: block;
				font-family: fontello;
				text-indent: 0.1em;
				top: 0;
				left: 0;
				width: 100%;
				text-align: center;
				font-size: 0.8em;
			}
		}

		&:hover {
			.sortable-handle {
				opacity: 1;

				&:hover {
					text-decoration: none;
				}
			}
		}
				
		&:active,
		&:focus {
			.sortable-handle {
				cursor: grabbing;
			}
		}

        .remove-clone {
            border: none;
            background: none;
            width: 30px;
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            color: rgba(0,0,0,0);
            position: absolute;
            right: -30px;
            top: 10px;
            text-indent: -1000px;

            &:active {
                box-shadow: none !important;
            }

            &:before {
                font-family: fontello;
                content: '#{$glyph-icon-remove}';
                color: $colour-dark-blue;
                position: absolute;
                right: 0;
                text-indent: -1em;

                .header.home & {
                    color: white;
                }
            }

            &:hover {
                &:before {
                    color: $colour-dark-blue-d;
                }
            }
        }
	}

}
