$home-hero-author: '' !default;

$site-navigation-background-colour: false !default;
$site-navigation-text-colour: false !default;

$site-navigation-illustrated-background-colour: false !default;
$site-navigation-illustrated-text-colour: false !default;

$swim-lane-hero-background-position: center !default;

@mixin white-lane() {
	& + #swim-lane-browser-warning,
	& + #partners,
	& + #news,
	& + #swim-lane-reports,
	& + #site-summary,
	& + #swim-lane-secondary-tasks,
	& + #swim-lane-sectors {
		.container {
			padding-top: 0;
		}
	}
}

.swim-lane {
	background: white;

	.container {
		padding-top: 50px;
		padding-bottom: 50px;

		@include screen-size(small) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	.lane-title {
		margin: 0 0 20px 0;
		font-size: 1.625rem;

		@include screen-size(medium-large) {
			padding-top: 10px;
			border-top: 1px solid #e1e1e1;
		}
	}

	.lane-footer {
		clear: both; // Required for IE 11.

		a {
			font-weight: bold;

			&:before {
				display: inline-block;
				width: 1em;
				font-family: fontello;
				content: '#{$glyph-angle-right}';
			}
		}
	}

	&#swim-lane-sectors {
		@include white-lane;

		.lane-title {
			margin-top: 0;
			border-top: none;
		}
	}

	&#swim-lane-reports {
		@include white-lane;

		.lane-title {
			margin-top: 0;
			border-top: none;
		}
	}

	&#swim-lane-secondary-tasks {
		@include white-lane;
	}

	&#swim-lane-site-navigation-illustrated {

		& + #swim-lane-secondary-tasks {
			.lane-title {
				margin-top: 0;
				border-top: none;
			}
		}
		
		@include screen-size(medium-large) {
			background: $colour-base;

			@if $site-navigation-illustrated-background-colour {
				background: $site-navigation-illustrated-background-colour;
			}
		}

		@if $site-navigation-illustrated-text-colour {
			*,
			*:before {
				color: $site-navigation-illustrated-text-colour !important;
			}
		}

		.container {
			padding-top: 4rem;
			padding-bottom: 3.5rem;
			margin: 0 auto;

			.nav-tiles-illustrated {
				@include screen-size(medium-large) {
			      	display: grid;
			      	grid-auto-flow: column;
			      	gap: 0;

			      	&.count-2 {
			      		grid-template-columns: 1fr 1fr;
			      	}

			      	&.count-3 {
			      		grid-template-columns: 1fr 1fr 1fr;

			      		li {
			      			a {
						      	padding: 0 5%;
			      			}
			      		}
			      	}
				}

				li {	
				    a {
				      	display: block;
				      	position: relative;
				      	height: 100%;
				      	text-decoration: none;
				      	text-align: center;
				      	@include box-sizing;
				      	color: black;
				      	padding: 0 10%;

					    &:hover {
					        .no-touchevents & {
					          	.item-title {
					            	text-decoration: underline;
					          	}

					          	&:before {
					          		transform: scale(1.1);
					          	}
					        }
					    }

				      	&:before {
				      		display: block;
					    	text-align: center;
					    	width: 100%;
							box-sizing: border-box;
							padding: 0;
							margin: 0;
							transition: transform 0.2s;
							color: $colour-green;

					      	@include screen-size(medium-large) {
						        height: 200px;
						        line-height: 200px;
								margin-bottom: 30px;
						        font-size: 120px;
						    }

					      	@include screen-size(small) {
						        height: 130px;
						        line-height: 130px;
						        font-size: 90px;
					    	}
				      	}

				      	&.icon-quality-thumb,
				      	&.icon-privacy-ok,
				      	&.icon-analytics {
				      		&:before {
				      			color: transparent;
				      			background-size: contain;
				      			background-repeat: no-repeat;
				      			background-position: center;
				      			background-size: auto 70%;
				      		}
				      	}

				      	&.icon-quality-thumb:before {
				      		background-image: url(icon-kwaliteitsinstrumenten.svg);
				      	}

				      	&.icon-privacy-ok:before {
				      		background-image: url(icon-kwaliteitsregistraties.svg);
				      	}

				      	&.icon-analytics:before {
				      		background-image: url(icon-openbare-data.svg);
				      	}

				      	&.icon-swiss-army-knife {
				      		&:before {
				      		 	font-size: 100px;
				      		}
				      	}

				      	.item-title {
				        	hyphens: auto;
				        	overflow: hidden;
				        	text-overflow: ellipsis;
				        	text-align: center;
				        	text-underline-offset: 0.18em;
				        	color: $colour-link;

					        @include screen-size(medium-large) {
					          	font-size: 1.45em;
					          	line-height: 1.2em;
						        margin-bottom: 15px;
					        }

					        @include screen-size(small) {
					          	font-size: 1.3125em;
					          	font-weight: bold;
					          	line-height: 1.2381;
						        margin-bottom: 15px;
					        }
				      	}

				      	.byline {
				        	line-height: 1.375em;
				        	text-align: center;
				        	color: black;
				      	}
				    }
				}
			}

			@include screen-size(small) {
				padding: 0;
			}
		}
	}

	&#swim-lane-browser-warning {
		color: white;
		color: $colour-orange;
		// background-color: $colour-orange;
		font-size: 26px;
		margin: 2px 0;
		line-height: 44px;
		@include white-lane;

		.message {
			margin-bottom: 25px;

			&.with-js {
				.no-js & {
					display: none;
				}
			}

			&.without-js {
				.js & {
					display: none;
				}
			}
		}

		.browser-options {
			a {
				color: white;
				display: inline-block;
				margin-right: 20px;
				text-decoration: none;
				padding: 0 20px 0 15px;
				// border-radius: 10px;
				// background: rgba(0,0,0,0.5);
				background-color: $button-background-colour-default;
				line-height: 50px;
				// font-weight: bold;

				&:hover {
					filter: brightness(1.1);
				}

				&:before {
					text-decoration: none;
					font-weight: normal;
				}
			}
		}
	}

	&#site-navigation {
		background: $colour-base;

		@if $site-navigation-background-colour {
			background: $site-navigation-background-colour;
		}

		@if $site-navigation-text-colour {
			*,
			*:before {
				color: $site-navigation-text-colour;
			}
		}

		.container {
			padding-top: 4rem	;
			padding-bottom: 2rem;

			.intro {
				font-size: 1.60181rem;
				line-height: 1.5;
				font-weight: normal;
				margin: 0 0 40px 0;
			}

			@include screen-size(small) {
				padding: 0;

				.intro {
					margin-bottom: 20px;
					margin-top: 20px;
					padding: 0 $container-padding-medium;
				}
			}
		}
	}

	&#swim-lane-editorial {
		@include screen-size(medium-large) {
			background-color: #f3f3f3;
		}

		.container {
			@include screen-size(small) {
				padding: 0;
			}

			padding-bottom: 15px;

			.item-title {
				font-size: 1.6018066406rem;
				line-height: 1.2485901539;
				font-weight: normal;
				margin: 0rem 0rem 0.5rem 0rem;
			}

			p {
				font-size: 1.125rem;
				line-height: 1.3333333333;
				margin-top: 0;
			}
		}
	}

	&#swim-lane-search {
		@media screen {
			background-color: $colour-green-xl;
		}

		will-change: transform; // creates a new paint layer
		position: relative;
		z-index: 1;
		// margin-top: -60px;

		.container {
			position: relative;
		}

		.medicine-group  {
			&::first-letter {
				text-transform: capitalize;
			}

			:not([href]) {
				text-decoration: none;
				color: inherit;
			}
		}
		
		@media screen and (min-width: 950px) {
			background-image: url(pills-5.jpg);
			background-size: 100% auto;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.warning {
			color: $colour-orange;
			border-bottom: solid 5px $colour-orange;

			h1 {
				color: $colour-orange;
				// font-weight: bold;

				&:before {
					content: '#{$glyph-icon-attention}';
					margin-top: 0.5em;
				}
			}
		}	

		.tabs {
			clear: left;
			margin: 0;
			padding: 0;
			position: relative;
			@include clear-fix;
			display: block;
			float: left;
			width: 100%;

			&.injecting {
				&:before {
					display: none;
				}

				> * {
					opacity: 1;

					.counter {
						opacity: 0;
					}
				}
			}

			white-space: no-wrap;

			a,
			label {
				float: left;
				border-top: 0;
				margin: 0 10px 0 0;
				font-weight: normal;
				color: $colour-green-d;
				cursor: pointer;
				text-decoration: none;
				font-size: 1em;

				margin: 0;
				color: $colour-search-box;
				float: left;
				padding: 0.5em 1em;

				&:first-child {
					padding-left: 2.2em;
				}

				transition: padding $advanced-search-animation-speed;


				input,
				&:before {
					display: none;
				}

				&:hover {
					text-decoration: underline;
				}

				&.active,
				&.current,
				&.checked {
					background: white;
					color: black;
					text-decoration: none;
					background: $colour-search-box;
					cursor: default;
					color: $colour-search-box-text;
					

					padding: 0.5em 2.2em;
				}

				.counter {
					display: inline-block;
					margin: 0 -0.3em 0 0.5em;
					background-color: $colour-dark-blue;
					color: white;
					border-radius: 1em;
					height: 1.7em;
					min-width: 1.7em;
					@include box-sizing;
					padding: 0 0.5em;
					transition: opacity 0.5s;
					animation: zoomIn 0.6s;

					vertical-align: baseline;
					line-height: 1.8em;
					font-size: 0.6em;
					text-align: center;
					top: -0.8em;

					&.disabled {
						background-color: $colour-green-l;
						animation: none;
					}

					&.injecting {
						&:before {
							display: none;
						}

						opacity: 0;
					}
				}
			}

			.touch & {
				overflow-x: auto;
				overflow-y: hidden;
				-webkit-overflow-scrolling: touch;

				margin: 0 -1 * $container-padding;
				width: calc(100% + #{$container-padding} + #{$container-padding});

				white-space: nowrap;

				.extra-tabs {
					padding-right: $container-padding;
					display: inline-block;
				}

				a,
				label {
					float: none;
					display: inline-block;
					margin: 0;

					// &:first-child {
					// 	margin-left: $container-padding;
					// }
				}
			}


			.no-touch & {
				span.extra-tabs {
				    border: 2px transparent solid;
				    padding-top: 2.3em;
				    display: inline-block;
				    // float: right;
				    height: 0;
				    width: 2.4em;
				    overflow: hidden;
				    position: absolute;
				    // right: -2px;
				    top: -6px;
				    z-index: 1;

				    @include screen-size(small) {
				    	right: 0;
				    }

				    transition: all 0.3s;

				    &:before {
				      font-family: fontello;
				      content: '#{$glyph-double-chevron-right}';
				      background: $colour-green;
				      line-height: 1.8em;
				      text-align: center;
				      position: absolute;
				      right: 0.3em;
				      top: 0.3em;
				      height: 1.8em;
				      width: 1.8em;
				      color: $colour-green-xl;
				      border-radius: 50%;
				      transition: all 0.5s;
				    }

				    &:hover {
				      border: 2px white solid;
				      padding-bottom: 0.5em;
				      margin-left: -17em;
				      background-color: $colour-green-xl;
				      height: auto;
				      width: 22em;

					  @include screen-size(small) {
					  	width: 100%;
					  }

				      &:before {
				        color: black;
				      	// border-radius: 0;
				      	background-color: $colour-green-l;
				      	transform: rotate(90deg);
				      }
				    }

				    a,
				    label {
				      display: block;
				      float: none;
				      padding: 0.3em 0.7em;
				      margin: 0;
				      text-align: left;
				      color: black;
				      line-height: 1.6;
				      overflow: hidden;
				      text-overflow: ellipsis;
				      white-space: nowrap;
				    }	
				}
			}
		}


		.options {
			float: right;
			position: absolute;
			right: 15px;
			bottom: 0;
			color: $colour-dark-blue;
			text-shadow: 0 0 10px $colour-green-xl,
					     0 0 10px $colour-green-xl,
					     0 0 10px $colour-green-xl,
					     0 0 10px $colour-green-xl,
					     0 0 10px $colour-green-xl,
					     0 0 10px $colour-green-xl,
					     0 0 10px $colour-green-xl;
		}

		#breadcrumb {
			@include screen-size(small) {
				display: none;
			}

			margin-bottom: .3384em;
			font-size: .8125em;
			padding-top: 10px;
			margin-top: 0;
		}

	}

	&#site-summary {
		background-color: white;
		@include white-lane;

		.container {
			// padding-bottom: 0; // Must be followed up by another white lane or news.

			.summary {
				// margin-bottom: 60px;

				@include screen-size(large) {
					width: 66.66667%;
				}

				p {
					font-size: 1.3125em;
					line-height: 1.5238;
				}
			}
		}
	}

	&#editorial-navigation {
		background: $colour-dark-blue;

		* {
			color: white;
		}

		.container {
			padding-top: 50px;
			padding-bottom: 15px;
		}
	}

	&#partners {
		@include white-lane;
		.container {
			// padding-bottom: 0;
		}
	}

	&#news {
		@include white-lane;

		.container {
			// padding-bottom: 0;

			.news-feed {
				margin-bottom: -30px;
			}
		}
	}

	@keyframes bounce-memo {
		0% {
			background-position: right 0px;
		}

		50% {
			background-position: right 20px;
		}

		0% {
			background-position: right 0px;
		}
	}

	&#home-hero {
		background-color: $colour-green-xl;
		background-image: url(#{$home-hero});
		background-size: cover;
		background-position: $swim-lane-hero-background-position;
		background-repeat: no-repeat;
		position: relative;

		&:before {
			content: '#{$home-hero-author}';
			@include copyright;
		}

		@include screen-size(small) {
			min-height: 2px;
		}

		.promo-block {
			font-size: 32px;
			opacity: 0;
			padding: 25px 20% 25px 25px;
			animation: fadeInDown 0.2s;
			animation-delay: 0.5s;
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
			overflow: hidden;
			background: white;

			@include screen-size(medium-large) {
				background: white url(checklist.jpg) no-repeat;
				background-size: 33% auto;
				background-position: center right;
				padding: 25px 20% 25px 25px;
			}

			@include screen-size(small) {
				padding: 25px;
			}

			.button-bar {
				margin-bottom: 0;
				margin-top: 30px;

				.pat-button {
					margin: 0;
					float: left;
					padding: 5px 30px;
				}
			}
		}

		&.has-top-promo:not(.has-top-task-push) {
			.button-bar {	
				margin-top: 15px;
			}
		}

		.container:before {
			display: none !important;
		}

		&.has-top-task-push,
		&.has-promo {
			.container:after {
				display: none !important;
			}
		}

		&.has-top-task-push {
			.promo-block {
				background: white;
				padding-right: 25px;
				font-size: 24px;

				.button-bar {
					.pat-button {
						padding: 0 25px;
					}
				}
			}
		}

		.container {
			padding-top: 25px;
			position: relative;

			@include screen-size(medium-large) {
				display: flex;
			    justify-content: space-between;
			    align-items: flex-start;
			}

		    &:after {
		    	display: none;
		    }

			.product-fk &,
			.product-farmacotherapeutisch-kompas & {
				&:after {
					display: block;
					width: 100%;
					height: 200px;
					content: ' ';
					position: absolute;
					top: 0;
					transition: opacity 1s; 

					.current & {
						opacity: 0;
					}

					@include screen-size(medium-large) {
						background: url(zoek-memo.svg) no-repeat;
						background-position: right top;
						background-size: 551px 235px;
						animation: bounce-memo 0.7s;
						animation-iteration-count: 3;
						animation-delay: 1s;
					}
				}
			}

			@include screen-size(medium-large) {
				opacity: 0;
				animation: fadeIn 1s;
				animation-delay: 0.5s; 
				animation-fill-mode: forwards;
				min-height: 200px;
			}

			@include screen-size(small) {
				padding: 20px 15px 25px;
			}
		}

		.nav-tiles {
			* {
				color: white;
			}
		}

		.top-task-push {
			padding: 25px;
			-webkit-backdrop-filter: blur(20px) brightness(0.7) saturate(2);
			backdrop-filter: blur(20px) brightness(0.7) saturate(2);
			box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.4);
			border: 1px solid rgba(255, 255, 255, 0.1);
			color: white;
			box-sizing: border-box;

			h2 {
				margin-top: 0;
				color: white;
			}

			.button-bar {
				margin: 0 0 -10px 0;

				.pat-button {
					text-decoration: none;
				}
			}

			.pat-rich > *:last-child {
				// margin: 0;
			}

			@include screen-size(medium-large) {
				// margin-right: -25px;
				width: 390px;
				min-width: 390px;
				float: right;
				opacity: 0;
				animation: fadeInDown 0.2s;
				animation-delay: 1s;
				-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
				margin-left: 25px;
			}

			@include screen-size(small) {
				margin-top: 1px;
				margin-bottom: 15px;
			}

			color: white;

			.pat-rich {
				a {
					color: white;
				}
			}
			
		}

		.top-task-navigation {
			background: white;
			padding: 25px;
			// padding-left: 62px;
			margin-bottom: 0px;

			@include box-sizing;

			@include screen-size(medium-large) {
				margin-left: -25px;
				width: 33.33332%;
				min-width: 33.33332%;
				opacity: 0;
				animation: fadeInDown 0.2s;
				animation-delay: 1.5s; 
				animation-fill-mode: forwards; 
				margin-right: 25px;
			}

			@include screen-size(small) {
				margin-bottom: 15px;
			}

			h2 {
				margin-bottom: .755em;
				line-height: 1.55rem;
				font-size: 1.625rem;
				font-weight: normal;
			}

			.link-list {	
				margin: 0;
				
				li {
					margin-bottom: 5px;

					a {
						font-weight: normal;
						font-size: 1.125rem;
						line-height: 1.625rem;
						word-wrap: break-word;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}