.tile-navigation {
    display: grid;
    grid-gap: 30px; 
    grid-auto-rows: 1fr;

    &.col-3 {
        @include screen-size(large) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
        }

        @include screen-size(medium) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &.col-1,
    &.col-2 {
        @include screen-size(medium-large) {
            grid-template-columns: 1fr 1fr;
        }
    }

    @include screen-size(small-medium) {
        grid-template-columns: 1fr;
    }
    
    .tile-navigation-follow {
        background: $colour-grey-1;
        display: block;
        padding: 7% 10%;
        position: relative;
        -webkit-hyphens: auto;
        hyphens: auto;

        &:hover {
            text-decoration: none;
            
            .no-touchevents & {
              .title {
                text-decoration: underline;
              }

              &:before {
                transform: scale(1.1) translateY(-50%);
              }
            }
        }

        .title {
            font-size: 1.6018066406rem;
            line-height: 1.2485901539;
            font-weight: normal;
            margin-top: 0;
            margin-bottom: 0.5rem;
            text-underline-offset: 0.18em;
        
            @include screen-size(small) {
                font-size: 1.3125em;
                font-weight: bold;
                line-height: 1.2381;
                margin: 0;
            }
        }

        .byline {
            color: black;
            line-height: 1.375em;
            -webkit-hyphens: auto;
            hyphens: auto;
            display: -webkit-box;
            display: box;
            -webkit-box-orient: vertical;
            box-orient: vertical;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            overflow: hidden;
        }
    }
}