@charset "UTF-8";

.pat-toolbar {
  z-index: 10;
  
  .pat-modal & {
    margin-top: -7px;
    margin-bottom: 10px;
    padding-top: 0;
  }

  &#organisations-toolbar {
    > * {
      grid-template-columns: auto 0 250px;
    }

    .toolbar-section.navigation {
      grid-area: left;
      text-align: left;
    }
  }

  &#glossary-toolbar {
    > * {
      grid-template-columns: auto 0 110px;
    }

    .toolbar-section.navigation {
      grid-area: left;
      text-align: left;
    }
  }

  &#cms-page-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 4fr 1fr;
    }
  }

  &#cms-settings-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }
  
  &#cms-page-toolbar-edit {
    .toolbar-functions-area {
      grid-template-columns: 3fr 1fr;
    }
  }

  &#image-bank-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 4fr 1fr;
    }
  }

  &#transparency-calendar-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 4fr 1fr;
    }
  }

  &#image-edit-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 1fr 4fr;
    }
  }
}