@charset "UTF-8";

.pat-toolbar {
  .pat-modal & {
    margin-top: -7px;
    margin-bottom: 10px;
    padding-top: 0;
  }

  &#cms-page-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 4fr 1fr;
    }
  }
  
  &#cms-page-toolbar-edit {
    .toolbar-functions-area {
      grid-template-columns: 3fr 1fr;
    }
  }

  &#image-bank-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 4fr 1fr;
    }
  }

  &#transparency-calendar-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 4fr 1fr;
    }
  }

  &#image-edit-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 1fr 4fr;
    }
  }
}