@charset "UTF-8";

.pat-toolbar {
  z-index: 11; // z-index 10 ducks underneath form rich field toolbars.
  
  .pat-modal & {
    margin-top: -7px;
    margin-bottom: 10px;
    padding-top: 0;
  }

  &#cms-section-toolbar {
    #content.mode-select & {
      .toolbar-navigation-area {
        display: none;
      }

      .toolbar-functions-area,
      .toolbar-navigation-area {
        grid-template-columns: 1fr 0 1fr;
      }

      .filter-menu {
        display: none;
      }
    }

    .batch-operation {
      display: none;
      animation: fadeIn 1s;

      #content.mode-select & {
        display: inline-block;
      }
    }
  }

	&#landing-browse-toolbar {
    > * {
      grid-template-columns: 1fr 0 1fr;
    }

    .toolbar-section {
      &.view-options {
        grid-area: right;
        text-align: right;
        
        > * {
          margin-right: 0;
        }
      }

      &.navigation {
        grid-area: left;
        text-align: left;
      }
    }

    @include screen-size(small) {
      #grouping-options {
        display: none;
      }
    }
  }

  &#organisations-toolbar {
    > * {
      grid-template-columns: auto 0 250px;
    }

    .toolbar-section.navigation {
      grid-area: left;
      text-align: left;
    }
  }

  &#glossary-toolbar {
    > * {
      grid-template-columns: auto 0 130px;
    }

    .toolbar-section.navigation {
      grid-area: left;
      text-align: left;
    }
  }

  &#cms-page-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 4fr 1fr;
    }
  }

  &#cms-settings-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }

  &#folder-toolbar {

    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 1fr 0fr 1fr;
    }
  }
  
  &#cms-page-toolbar-edit {
    .toolbar-functions-area {
      grid-template-columns: 3fr 1fr;
    }
  }

  &#image-bank-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 4fr 1fr;
    }
  }

  &#transparency-calendar-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 4fr 1fr;
    }
  }

  &#image-edit-toolbar {
    .toolbar-functions-area,
    .toolbar-navigation-area {
      grid-template-columns: 1fr 4fr;
    }
  }
}