.pat-well {
	text-decoration: none;
	padding: 20px;
	margin-bottom: $baseline;
	background: $colour-dark-blue-xl;

	&:not(.editors-well) a {
		text-decoration: underline;
	}

	@media print {
		background: white;
		border: 3px solid $colour-dark-blue-xl;
	}

	.content-block h2 + & {
		margin-top: -0.3em;
	}

	&.tickets {
		background: transparent;
		// border-radius: 0.5em;
		overflow: hidden;
		padding: 0;

		.intro-bar {
			margin-bottom: 1em;

			@include screen-size(medium-large) {
				display: table;
				width: 100%;

				> * {
					display: table-cell;
				}

				.intro-bar-functions {
					text-align: right;

					a {
						text-decoration: none;
						color: $colour-link;

						&:hover {
							text-decoration: underline;
							color: black;

							&:before {
								text-decoration: none;
							}
						}
					}
				}
			}
		}

		* {
			color: black;
		}
	}

	&.collapsibles {
		background: transparent;
		// border-radius: 0.5em;
		overflow: hidden;
		padding: 0;

		.pat-collapsible:not(.context-menu):not(.place-on-homescreen):not(.search-box):not(.help):not(.pat-message):not(.place-on-homescreen):not(.borderless) {
			margin-bottom: 2px;
			margin-top: 0 !important;
			background-color: $colour-grey-1;
			border: none;

			.no-js & {
				padding: 1em;
				box-sizing: border-box;
			}

			&:last-child {
				margin-bottom: 0;
			}

			.panel-content {
				box-sizing: border-box;
				// padding: 16px 0;
				padding-right: 1em;

				> *:last-child {
					margin-bottom: 0;
				}
			}
		}

		h3 {
			font-size: 1em;
			font-weight: bold;

			&.collapsible-closed, 
			&.collapsible-open {
				padding-right: 1em;
			}
		}
	}

	* {
		color: black;
	}

	h2,
	h3,
	h4 {
		color: black;
	}

	&:hover {
		// text-decoration: none;
	}
	
	> .title {
		margin: 0 0 0 0;
		font-size: 1em;
		line-height: 1.4;

		&:before {
			font-family: fontello;
			content: '#{$glyph-icon-attention}';
		}
	}

	.publication-date {
		font-size: 0.8em;
		font-style: italic;
	}

	.intro {

	}

	.read-more {
		margin: 0;
		padding: 0;
		text-decoration: underline;
		font-weight: bold;
	}

	p {
		margin-bottom: $baseline;
	}

	> p:last-child {
		margin-bottom: 0;
	}

	.buttons {
		@include clear-fix;

		.pat-button {
			color: white;
			float: left;
		}
	}

	&.editors-well {
		padding: 10px 20px 20px;
		background-color: $colour-orange-xl;

		h2 {
			border: none; // Hide top line.
			&:before {
				display: none; // Hide top line, new style.
			}

			a {
				color: $colour-dark-brown;
			}
		}

		ul {
			margin-bottom: 10px;
		}
	}

	.function-header {
		height: 2.2em;
		margin-top: -1 * $baseline;
		margin-right: -1 * $baseline;
		margin-left: -1 * $baseline;
		overflow: hidden;
		transition: all 0.4s;
		background: rgba(0,0,0,0.05);

		display: none; // Temp disable.

		@media print {
			display: none;
		}

		a.pat-switch {
			text-decoration: none;
			cursor: pointer;
		}

		.function {
			padding: 0.35em 1em;
		}

		#dose-close-all {
			&:before {
				transform: rotate(45deg);
			}
		}
	}

	div.no-title {
		padding: 0.5 * $baseline 0;
		margin-bottom: $baseline;
		clear: both;

		@media screen {
			border-top: 2px dotted rgba(0,0,0,0.2);
			border-bottom: 2px dotted rgba(0,0,0,0.2);
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	&.all-open {
		.dose-open-all {
			display: none;
		}
	}

	&.all-closed {
		.dose-close-all {
			display: none;
		}
	}
}