#app-space {
    @include injection;
    background-color: white;

    &.state-paused {
        display: none;
    }

    .app-frame {
        &.state-inactive {
            display: none;
        }
    }
}