#app-space {
    @include injection;
    background-color: white;

    &.state-paused {
        display: none;
    }

    .pane {
        &.state-inactive {
            display: none;
        }
        
        &.state-active {
            display: block;
        }

        &.app-launchpad {
            padding-top: 60px;
        }

        .coming-soon {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 40px;
            font-style: italic;
        }
        
        .app-loader {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            display: block;
            color: rgba(0,0,0,0.5);
            text-align: center;
            color: rgba(0,0,0,0.6);
            box-sizing: border-box;
            clear: both;
            text-decoration: none !important;
            cursor: default;
            -webkit-pointer-events: none;
            pointer-events: none;
            padding-top: 100px;

            &:before {
                @include throbber();
                color: rgba(0,0,0,0.5);
            }
        }
    }
}