@charset "UTF-8";

.infinite-scrolling-trigger {
	display: block;
	color: rgba(0,0,0,0.5);
	text-align: center;
	position: relative;
  	color: rgba(0,0,0,0.6);
	padding-top: 585px;
	margin-top: -450px;
	height: 675px;
	box-sizing: border-box;
	clear: both;
	text-decoration: none !important;
	cursor: default;
	-webkit-pointer-events: none;
	pointer-events: none;

	&:before {
  		@include throbber();
		top: 550px;	
		color: rgba(0,0,0,0.5);
	}
}