.sortable-list {
	position: relative;

	.sortable-item {
		padding: 0;
		position: relative;
		@include clear;

		&:not(.drop-target-above):not(.drop-target-below) {
			overflow: hidden;
		}

		&:before {
			display: block;
			width: 100%;
			opacity: 0;
			height: 2px;
			content: ' ';
			background: $colour-link;
			position: absolute;
			left: 0;
		}

		&.drop-target-above,
		&.drop-target-below { 
			&:before {
				opacity: 1;
			}

			.sortable-handle {
				margin-top: -22px;
			}
		}

		&.drop-target-above:before {
			top: -8px;
		}

		&.drop-target-below:before {
			bottom: -2px;
		}

		.label {
			background: $colour-post;
			line-height: 1.3em;
			// color: $colour-accent;
		}

		.sortable-handle {
			margin-top: -18px;
			cursor: move;

			&:before {
				content: "#{$glyph-arrow-combo}";
			}
		}

		.delete-button {
			margin-top: 18px;

			&:before {
				content: "#{$glyph-trash}";
			}
		}

		.sortable-handle,
		.delete-button {
			text-align: center;
			color: white;
			display: block;
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
			width: 30px;
			height: 30px;
			line-height: 30px;
			background: rgba(0, 0, 0, 0.1);
			overflow: hidden;

			&:hover {
				background: rgba(0, 0, 0, 0.15);
			}

			&:before {
				display: block;
				font-family: fontello;
				top: 0;
				left: 0;
				width: 100%;
				line-height: 30px;
				text-align: center;
				font-size: 0.8em;
				color: $colour-link;
			}

			@media print {
				display: none;
			}
		}

		.button-cluster {
			display: none;
		}
	}

}