@charset "UTF-8";

$body-font-colour: black;
$colour-for-review: #a90061;
$colour-accent: #e17000; 
$colour-auto-suggest-pills: #01689b;
$colour-base: #f2f2f2;
$colour-base-light: #e8e8e8;
$colour-brown: #84710a; // Bruin
$colour-dark-blue: #01689b; // Donker blauw
$colour-dark-blue-d: darken($colour-dark-blue, 10%);
$colour-dark-blue-l: #cce0f1; // Donker blauw light
$colour-dark-blue-xd: darken($colour-dark-blue, 30%);
$colour-dark-blue-xl: #e5f0f9; // Donker blauw extra light
$colour-dark-brown: #673327; // Donker bruin
$colour-dark-green: #275937; // Donker groen    							Basiskleur 2
$colour-dark-yellow: #ffb612; // Donker geel   								Grafiekkleur 1
$colour-green: #39870c; // Groen											Basiskleur 1
$colour-green-d: #2b6709; // Groen, donker		 							
$colour-green-l: #c4dbb6; // Groen, licht							
$colour-green-xl: #e1eddb; // Groen, extra licht										
$colour-grey-1: #f3f3f3; // Grijs 1
$colour-grey-2: #e6e6e6; // Grijs 2
$colour-grey-3: #cccccc; // Grijs 3
$colour-heavenly-blue: #007bc7; // Hemel blauw
$colour-light-blue: #8fcae7; // Licht blauw
$colour-light-green: #d6d7b2;
$colour-light-grey: #e8e8e8;
$colour-link: $colour-dark-blue;
$colour-link-hover: $colour-dark-blue-xd;
$colour-mint: #76d2b6; // Munt groen
$colour-moss-green: #777c00;
$colour-moss-green-d: darken($colour-moss-green, 10%);
$colour-moss-green-l: #d6d7b2;
$colour-moss-green-xl: #ebebd9;
$colour-notice: #fdf6bb; 
$colour-orange: #e17000; // Oranje  										Grafiekkleur 2
$colour-orange-d: darken($colour-orange, 10%); // Oranje darker
$colour-orange-l: #f6d4b2; // Oranje light
$colour-orange-xl: #fbead9; // Oranje extra light
$colour-portlet: $colour-grey-1;
$colour-pink: #f092cd; // Roze
$colour-primary: #A31E39;
$colour-purple-l: #c6b8cf; // Paars light
$colour-purple-xl: #e3dce7; // Paars extra light
$colour-purple: #42145f; // Paars  											Steunkleur
$colour-red: #d52b1e; // Rood
$colour-ruby: #ca005d; // Robijn
$colour-search-box-line: rgba(255, 255, 255, 0.4);
$colour-search-box-text: white;
$colour-search-box: $colour-dark-blue;
$colour-select-bare: $colour-dark-blue;
$colour-success: $colour-moss-green-xl;
$colour-violette: #a90061; // Violet
$colour-violette-l: #e5b3d0; // Violet, licht
$colour-violette-xl: #f2d9e7; // Violet, extra licht
$colour-yellow: #f9e11e; // Geel
$colour-table-cell: #f3f3f3;
$colour-warning: $colour-orange;
$colour-warning-background: #fbead9;