$glyph-arrows-apart: '\e8c5';
$glyph-1003-pijl-rechts: '\e877';
$glyph-1020-heart: '\e87d';
$glyph-2002-info: '\e86c';
$glyph-2014-nieuws_diap: '\e867';
$glyph-3907-zoek: '\e8b4';
$glyph-3915-waarschuwing: '\e8c6';
$glyph-3945-link: '\e82c';
$glyph-4000-psychisch: '\e87c';
$glyph-4158-boek: '\E8A5';
$glyph-6012-chemische-producten: '\f0c3';
$glyph-angle-right: '\e884';
$glyph-arrow-curved: '\E862';
$glyph-arrow-up-circle: '\e81d';
$glyph-award: '\e8aa';
$glyph-bacteriophage: '\e87f';
$glyph-beaker: '\f0c3';
$glyph-cancel: '\e883';
$glyph-cancer: '\e87a';
$glyph-checkbox-active: '\e821';
// $glyph-checkbox-active: '1234567890';
$glyph-checkbox: '\e822';
$glyph-close-circled: '\E854';
$glyph-close-thin: '\e850';
$glyph-close: '\e883';
$glyph-create: '\e887';
$glyph-doc-inv: '\f15b';
$glyph-docs: '\e89b';
$glyph-double-chevron-right: '\e84d';
$glyph-down-thin: '\e851';
$glyph-download: '\e80f';
$glyph-ellipsis-hor: '\e89e';
$glyph-ellipsis-vert: '\f142';
$glyph-expand: '\e887';
$glyph-gauge: '\e8ac';
$glyph-history: '\e8b5';
$glyph-icon-application: '\f1fb';
$glyph-icon-attention: '\e815';
$glyph-icon-b2: '\E861';
$glyph-icon-biceps: '\E855';
$glyph-icon-bookmark-empty: '\e853';
$glyph-icon-bookmark: '\e852';
$glyph-icon-compare: '\e85c';
$glyph-icon-concentration: '\e858';
$glyph-icon-edit: '\e812';
$glyph-icon-indication: '\f0f0';
$glyph-icon-info: '\e80a';
$glyph-icon-mail: '\e825';
$glyph-icon-medicine-group: '\e849';
$glyph-icon-medicine: '\e84b';
$glyph-icon-mnt: '\E85F';
$glyph-icon-otc: '\E85E';
$glyph-icon-packaging: '\e857';
$glyph-icon-print: '\e834';
$glyph-icon-remove: '\e808';
$glyph-icon-right-circle: '\e847';
$glyph-icon-right-open: '\e845';
$glyph-icon-search: '\e8b4';
$glyph-icon-section: '\e84e';
$glyph-icon-xgvs: '\E860';
$glyph-information-standard: '\e8b0';
$glyph-klaarzetten: '\e8b2';
$glyph-left-open-1: '\e8a7';
$glyph-left-open-big: '\e8a6';
$glyph-left-open: '\e844';
$glyph-level-up: '\f148';
$glyph-link-external: $glyph-3945-link;
$glyph-link-internal: '\e85a';
$glyph-link-internal: '\e85a';
$glyph-lock-open: '\e82f';
$glyph-lock: '\e82e';
$glyph-logo-squared: '\e85d';
$glyph-logo: '\e84f';
$glyph-lungs: '\e878';
$glyph-lymphocyte: '\e880';
$glyph-menu: '\e82a';
$glyph-neuron: '\e87e';
$glyph-news-paper: '\f1ea';
$glyph-next-stop: '\e88e';
$glyph-ok-circle: '\e888';
$glyph-ok: $glyph-klaarzetten;
$glyph-picture: '\e842';
$glyph-pin: '\e80b';
$glyph-radio-button-active: '\e848';
$glyph-radio-button: '\e823';
$glyph-remove-tag: '\e808';
$glyph-remove: '\e808';
$glyph-right-open-1: '\f006';
$glyph-right-open-big: '\e876';
$glyph-right-open: '\e845';
$glyph-ruler: '\f044';
$glyph-speedometer: '\e859';
$glyph-stomach: '\e87b';
$glyph-tag: '\e80c';
$glyph-throbber: '\e800';
$glyph-virus: '\e879';
$glyph-vraagteken: '\e882';
$glyph-wallet: '\e89f';
$glyph-wrench: '\e81a';
// $glyph-icon-indication: '\e849';
// $glyph-icon-medicine-group: '\e84a';