@charset "UTF-8";

@mixin byline-item() {
	border-left: 1px solid #535353;
	padding: 0 0.5em;
	display: inline-block;

	&:before {
		content: '  ';
		display: inline;
	}

	&:first-child {
		padding-left: 0;
		border-left: none;

		&:before {
			display: none;
		}
	}
}

@mixin gradient-orange() {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e17000+0,af6000+100 */
background: #e17000; /* Old browsers */
background: -moz-linear-gradient(top, #e17000 0%, #af6000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e17000 0%,#af6000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e17000 0%,#af6000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e17000', endColorstr='#af6000',GradientType=0 ); /* IE6-9 */
}

@mixin classification-tag() {
	border-radius: 20px;
	font-size: 10px;
	height: 12px;
	line-height: 12px;
	padding: 0 6px;
	vertical-align: middle;
	display: inline-block;
	background: silver;
	color: black;
	margin-top: -2px;
	margin-left: 3px;

	&.biosimilar {
		background: $colour-light-green;
		color: $colour-green;
	}

	&.generic {
		background: #666;
		color: #efefef;
	}

	&.indication {
		background: $colour-purple-l;
		color: $colour-purple;
	}

	&.meerjarenagenda {
		background: $colour-orange;
		color: white;
	}

}

@mixin search-button-main() {
	width: 15rem;
	padding: 0 0.8em;
	margin: 0;
	position: absolute;
	height: 62px;
	line-height: 60px;
	right: 0;
	top: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;;
	border: 1px solid $colour-search-box-line;
	z-index: 3;
	float: right;
	color: $colour-search-box-text;
	font-size: 28px;
	@include gradient-orange;
	text-align: center;
}

@mixin close-button() {
	position: absolute;
	top: 0;
	right: 0;
	width: 6em;
	height: 6em;
	color: transparent;
	filter: none;
	border: none;
	background-image: none;
	background-color: rgba(255,255,255,0);
	outline: none;
	display: block;
	overflow: visible;
	padding: 0;
	margin: 0;
	opacity: 0.4;
	z-index: 2;
	font-size: 10px;

	@include screen-size(small) {
		font-size: 20px;
	}

	&:active {
		box-shadow: inherit;
		box-shadow: none;

		&:before {
			transform: scale(0.6);
		}
	}

	&:hover {
		opacity: 1;
	}

	&:before {
		font-family: fontello;
		transition: transform 0.2s ease-out;
		content: '#{$glyph-close}';
		display: block;
		position: absolute;
		right: 0.5em;
		top: 0.5em;
		font-size: 3em;
		color: black;
		text-indent: 0;
		line-height: 1em;
		z-index: -1;
	}
}

@mixin byline-item() {
	border-left: 1px solid #535353;
	padding: 0 0.5em;
	display: inline-block;

	&:before {
		content: '  ';
		display: inline;
	}

	&:first-child {
		padding-left: 0;
		border-left: none;

		&:before {
			display: none;
		}
	}
}

@mixin mutation-sentinel() {
	width: 8px;
    height: 8px;
    color: transparent !important;
    overflow: hidden;
    border: 2px solid white;
    padding: 0;
    border-radius: 50%;
    background-color: $colour-heavenly-blue;
    background: linear-gradient(to bottom, #8fcae7 0%,#007bc7 100%);
}

@mixin classification-tag() {
	border-radius: 20px;
	font-size: 10px;
	height: 12px;
	line-height: 12px;
	padding: 0 6px;
	vertical-align: middle;
	display: inline-block;
	background: silver;
	color: black;
	margin-top: -2px;
	margin-left: 3px;

	&.mutated {
		@include mutation-sentinel;
	}

	&.biosimilar {
		background: $colour-light-green;
		color: $colour-green;
	}

	&.generic {
		background: #666;
		color: #efefef;
	}

	&.indication {
		background: $colour-purple-l;
		color: $colour-purple;
	}

	&.meerjarenagenda {
		background: $colour-orange;
		color: white;
	}

}

@mixin search-button-main() {
	width: 15rem;
	padding: 0 0.8em;
	margin: 0;
	position: absolute;
	height: 62px;
	line-height: 60px;
	right: 0;
	top: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;;
	border: 1px solid $colour-search-box-line;
	z-index: 3;
	float: right;
	color: $colour-search-box-text;
	font-size: 28px;
	@include gradient-orange;
	text-align: center;
}

@mixin close-button() {
	position: absolute;
	top: 0;
	right: 0;
	width: 6em;
	height: 6em;
	color: transparent;
	filter: none;
	border: none;
	background-image: none;
	background-color: rgba(255,255,255,0);
	outline: none;
	display: block;
	overflow: visible;
	padding: 0;
	margin: 0;
	opacity: 0.4;
	z-index: 2;
	font-size: 10px;

	@include screen-size(small) {
		font-size: 20px;
	}

	&:active {
		box-shadow: inherit;
		box-shadow: none;

		&:before {
			transform: scale(0.6);
		}
	}

	&:hover {
		opacity: 1;
	}

	&:before {
		font-family: fontello;
		transition: transform 0.2s ease-out;
		content: '#{$glyph-close}';
		display: block;
		position: absolute;
		right: 0.5em;
		top: 0.5em;
		font-size: 3em;
		color: black;
		text-indent: 0;
		line-height: 1em;
		z-index: -1;
	}
}