$colour-link: DodgerBlue !default;
$colour-base: #efefef !default;
$colour-primary: black !default;
$colour-header-elements: #666 !default;
$colour-post: #e4f2f8 !default;
$colour-alert: red !default;
$colour-workspace-default: #869EBF !default;
$colour-accent: #5d91ff !default;
$colour-success: #5bb75b !default;
$colour-warning: #faa732 !default;
$colour-notice: #fdfdc8 !default;
$colour-info: #d9edf7 !default;
$colour-error: red !default;
$colour-error-background: rgba(255,0,0,0.1) !default;
$colour-base-light: #efefef !default;
$colour-chooser-default: $colour-accent !default;
$colour-form-fields-background: rgba(0,0,0,0.1) !default;