@charset "UTF-8";

@mixin checkbox() {
	padding-left: 1.5em;
	position: relative;
	
	&.checked:before,
	&.unchecked:before {
		font-family: fontello;
		content: '#{$glyph-checkbox}';
		float: left;
		position: absolute;
		left: 0;
		top: 0em;
	}

	&.disabled {
		color: rgba(0,0,0,0.3);
	}

	&.checked:before {
		content: '#{$glyph-checkbox-active}'
	}

	input[type="checkbox"],
	input[type="radio"] {
		opacity: 0;
		position: absolute;
		left: 0;
		width: 0;
	}
}

label.pat-checklist {
	@include checkbox();

	padding-left: 1.1em;
	padding-right: 0.5em;
}

.pat-checklist:not(.free-form) {
	line-height: 1.3;

	.pat-checklist-sub {
		padding-left: 1em;
		padding-bottom: 1em;

		> label,
		.label,
		> li > label {
			display: block;
			position: relative;
			@include checkbox();
			@include clear-fix();
			margin-top: 0.2em;
			margin-bottom: 0.2em;
			white-space: normal;
		}
	}

	> br {
		display: none;
	}

	&:not(.free-form) {
		> label,
		.label,
		li > label {
			display: block;
			position: relative;
			@include checkbox();
			@include clear-fix();
			margin-top: 0.2em;
			margin-bottom: 0.2em;
			white-space: normal;
		}
	}

	&.cloud {
		label {
			display: inline-block;
			margin-right: 1em;
		}
	}

	&.radio label {
		&.unchecked:before {
			content: '#{$glyph-radio-button}';
		}
		&.checked:before {
			content: '#{$glyph-radio-button-active}';
		}
	}

	fieldset.composed {
		padding-left: 0;
		margin-bottom: 0;
		position: relative;
	}

    .additional-meta-data {
        position: relative;
        float: right;
        width: 70%;
        right: -100%;
        top: 0;
        opacity: 0;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
        height: 0;

        .sidebar-large & {
            right: 0%;
            opacity: 1;
            height: auto;
        }
    }

    .meta-column {
        width: 0%;
        overflow: hidden;
        -moz-transition: width 1s;
        -webkit-transition: width 1s;
        transition: width 1s;
        float: right;
        padding: 0 0.5em;
        margin: 0;
        @include box-sizing();

        .item-selector & {
        	padding: 1.2em 0.5em 1em;
        }

        &.tag-cloud {
            width: 40%;
        }

        .sidebar-large & {
            width: 30%;

            &.tag-cloud {
                width: 40%;
            }
        }
    }
}