$pswp__assets-path: '/assets/quaive/style/photoswipe/' !default;

@import "../libraries/photoswipe/main";
@import "../libraries/photoswipe/default-skin/default-skin";

.pswp img {
	&[src*=".svg"] {
		background: white;
	}
}

.pswp__bg {
	@include modal-background;
}

.pswp__counter {
	color: black;
}

.pswp__ui--fit .pswp__top-bar, 
.pswp__ui--fit .pswp__caption {
	background: none;

	.pswp__caption__center {
		text-align: center;
		color: black;
	}
}