.pat-grid-list {
  margin-bottom: 2em;
  margin-top: 0;
  float: left;
  width: 100%;
  border-bottom: 1px solid $colour-base;

  dt {
    float: left;
    font-weight: bold;
    clear: left;
    border-top: 1px solid $colour-base;
    padding-top: 0.5em;

    @include screen-size(medium-large) {
      padding-right: 5%;
      padding-bottom: 0.5em;
      color: rgba(0,0,0,0.7);
      width: 35%;
    }

    @include screen-size(small) {
      width: 100%;
      float: none;
      display: block;
      margin: 0;
      overflow: hidden;
    }

    @media print {
      display: block;
      border: none;
    }
  }

  dd {
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    @media print {
      display: block;
      border: none;
      clear: both;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    @include screen-size(medium-large) {
      width: 60%;
      display: inline-block;
      float: left;
      margin-right: -100%;
      border-top: 1px solid $colour-base;
    }

    @include screen-size(small) {
      width: 100%;
      float: none;
      display: block;
      border: none;
      overflow: hidden;

      #user-data-view & {
        padding-left: 30px;
        box-sizing: border-box;
      }
    }
  }
}